$prefix: "../../img/";
$bg__about-img: 
    $prefix+"about/about-s1.jpg",
    $prefix+"about/about-s2.jpg",
    $prefix+"about/about-s3.jpg";
$bg__blog-img: 
    $prefix+"blog/blog-s1.jpg",
    $prefix+"blog/blog-s2.jpg";
$bg__coming-img: $prefix+"comingsoon.jpg"; 
$bg__error-img: $prefix+"error.jpg"; 
$bg__index-img: $prefix+"index/index-s1.jpg";
$bg__privacy-img: $prefix+"privacy.jpg";
$bg__service-img: 
    $prefix+"service/service-s1.jpg",
    "",
    $prefix+"service/service-s3.jpg";
$bg__store-img: $prefix+"store/store-s1.jpg";
$section__classes:
    "about",
    "blog",
    "comingsoon",
    "error",
    "index",
    "privacy",
    "service",
    "store";
$section__images:
    $bg__about-img,
    $bg__blog-img,
    $bg__coming-img,
    $bg__error-img,
    $bg__index-img,
    $bg__privacy-img,
    $bg__service-img,
    $bg__store-img;
$color__shadow: #333;
$footer__height: 41px;
$text-shadow: 1px 1px 3px $color__shadow; 